@import "../../style/SassVariables";
.Graph {
  &__section {
    position: relative;
    height: 85vh;

    &-skill {
      width: 100%;
      overflow: hidden;
      margin: 2% 0 0 0;
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45%;

    &-anime {
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 1s ease-in;
      &--show {
        opacity: 1;
        filter: drop-shadow(0 2px 5px);
      }
      &--hide {
        opacity: 0;
      }
      &--showMove {
        left: 50%;
        @include transEffect(2s, ease);
      }
    }
    &-origin {
      @include transEffect(2s, ease-in);
      left: 50%;
      transform: translate(-50%, -50%);

      &--show {
        opacity: 1;
        filter: drop-shadow(0 2px 5px);
      }
      &--hide {
        opacity: 0;
      }
      &--showMove {
        left: 50%;
        @include transEffect(2s, ease);
      }
    }
    &-leftFace {
      animation: leftFace 1s ease-in;
      transform: translate(-50%, -50%);
    }
    &-rightFace {
      width: 45%;
      position: absolute;
      top: 50%;
      right: 50.05%;
      animation: rightFace 1s ease-in;
      transform: translate(50%, -50%);
    }
    &-bg {
      width: 50vw;
      transform: translate(-50%, -50%);
      z-index: -1;
      animation: bg 1.5s ease-in;
      filter: none;
    }
  }
  &__link {
    position: absolute;
    text-decoration: none;
    top: 42%;
    @extend %main-font, %col-mid;
    font-size: 3vw;
    font-weight: 600;
    z-index: 2;
    cursor: pointer;
    transform: translate(-50%, -50%);
    animation-delay: 0.7s;
    @include transEffect(1s, ease-in);
    height: 70%;
    width: 22%;

    &:hover {
      color: #551a8b;
    }

    &-right {
      right: -4%;

      &--show {
        opacity: 1;
      }
      &--hide {
        opacity: 0;
      }
    }
    &-left {
      left: 18%;
      &--show {
        opacity: 1;
      }
      &--hide {
        opacity: 0;
      }
    }
  }
}

@keyframes leftFace {
  from {
    left: 15%;
    opacity: 0;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}
@keyframes rightFace {
  from {
    right: 15%;
    opacity: 0;
  }

  to {
    right: 50%;
    opacity: 1;
  }
}

@keyframes bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .Graph {
    &__image {
      &-anime {
        &--showMove {
          display: none !important;
        }
      }
      &-origin {
        &--showMove {
          display: none !important;
        }
      }
    }
  }
}
