@import "../../style/SassVariables";
@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Merienda+One&display=swap");

.slider {
  width: 60vw;
  max-width: 600px;
  min-width: 400px;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
