@import "../../style/SassVariables";

.Resume {
  @include bgImg(
    "../assets/about/Lantern.png",
    fixed,
    cover,
    $bgLightBlue,
    $bgDawn
  );

  &__section {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    &-title {
      text-align: center;
      font-size: 3rem;
      margin: 40px 0px 50px 0px;
      @extend %main-font;
    }

    &-skills,
    &-hackathon {
      min-height: calc(100vh - 80px);
    }
  }
}
