@import "../../style/SassVariables";
.Skills {
  &__section {
    position: relative;

    &-skill {
      width: 100%;
      padding-top: 56.25%;
      overflow: hidden;
    }
  }

  &__image {
    position: absolute;
    top: 48%;
    left: 50%;
    width: 45%;

    &-anime {
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 1s ease-in;
      &--show {
        opacity: 1;
        filter: drop-shadow(0 2px 5px);
      }
      &--hide {
        opacity: 0;
      }
    }
    &-origin {
      transition: 1s ease-in;
      left: 50%;
      transform: translate(-50%, -50%);

      &--show {
        opacity: 1;
        filter: drop-shadow(0 2px 5px);
      }
      &--hide {
        opacity: 0;
      }
    }
    &-leftFace {
      animation: leftFace 1s ease-in;
      transform: translate(-50%, -50%);
    }
    &-rightFace {
      width: 45%;
      position: absolute;
      top: 48%;
      right: 50.05%;
      animation: rightFace 1s ease-in;
      transform: translate(50%, -50%);
    }
    &-bg {
      width: 50vw;
      transform: translate(-50%, -50%);
      z-index: -1;
      animation: bg 1.5s ease-in;
      filter: none;
    }
  }
  &__link {
    position: absolute;
    text-decoration: none;
    top: 42%;
    @extend %main-font;
    font-size: 3vw;
    font-weight: 600;
    z-index: 2;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: 1s ease-in;
    animation-delay: 0.7s;
    transition: 1s ease-in;

    &:hover {
      color: #551a8b;
    }

    &-right {
      right: 10%;

      &--show {
        opacity: 1;
      }
      &--hide {
        opacity: 0;
      }
    }
    &-left {
      left: 18%;
      &--show {
        opacity: 1;
      }
      &--hide {
        opacity: 0;
      }
    }
  }
}

@keyframes leftFace {
  from {
    left: 15%;
    opacity: 0;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}
@keyframes rightFace {
  from {
    right: 15%;
    opacity: 0;
  }

  to {
    right: 50%;
    opacity: 1;
  }
}

@keyframes bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .About {
    &__section {
      &-intro {
        max-height: 420px;
      }
    }
    &__article {
      &-intro {
        top: 20%;
      }
    }
    &__para-intro {
      font-size: 1.5rem;
    }
  }
}
