@import "../../style/SassVariables";

.Modal {
  width: 82vw;
  max-width: 900px;
  height: auto;
  max-height: 500px;
  overflow: scroll;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: rgb(245, 238, 242);
  padding: 10px 0px 20px 0px;
  z-index: 1000;

  @extend %radius;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }

  &__ctn {
    width: 100%;
    height: 100%;

    // overflow: scroll;
    position: relative;
    @extend %row-mid;
    flex-wrap: wrap;
  }
  &__wrapper {
    width: 100%;
    @extend %row-between;
    margin-top: 40px;
  }
  &__link {
    @extend %main-font, %row-mid, %greyBtn;
    font-weight: 700;
    font-size: 1.5rem;
    width: 45%;
    // margin: 5px;
    line-height: 2.8rem;

    &-code {
      background-color: rgbrgb(80, 76, 76);
    }
    &-site {
      background-color: rgb(80, 76, 76);
    }
  }
  &__icon {
    font-size: 1.7em;
    &:hover {
      cursor: pointer;
    }
  }
  &__imgCtn {
    width: 200px;
  }
  &__img {
    width: 100%;
    object-fit: cover;

    &-screen {
      z-index: 1;
      width: 89%;
    }
    &-project {
      position: absolute;
      width: 88%;
      top: 16%;
      height: 180px;
      z-index: 0;
    }
  }
  &__section {
    width: 49%;
    &-left {
      padding: 20px;
      height: 100%;
      max-height: 500px;
    }
    &-right {
      width: 360px;
      height: 350px;
      position: relative;
      @extend %row-mid;
    }
  }
  &__project {
    &-title {
      @extend %main-font;
      font-size: 2.4rem;
    }

    &-details,
    &-technology {
      margin: 20px auto;
      font-style: italic;
      font-size: 1.6rem;
      letter-spacing: 1.2px;
    }

    &-technology {
      margin: 10px auto;
    }
    &-subTitle {
      @extend %main-font;
      margin-top: 35px;
      font-size: 2rem;
    }
  }

  &__btn {
    &:hover {
      cursor: pointer;
    }
    &-close {
      position: fixed;
      top: 4%;
      right: 3%;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 2.5rem;
      font-size: 2.5rem;
      border: none;
      outline: none;
      background-color: transparent;

      &:active {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .Modal {
    &__wrapper {
      width: 100%;
      flex-direction: column;
      justify-content: initial;
    }
    &__link {
      width: 100%;
      margin: 5px;
    }
  }
}

@media screen and (max-width: 850px) {
  .Modal {
    max-width: 850px;
    &__section {
      width: 80%;

      &-left {
        margin: 0 auto;
        padding: 20px 0 0 0;
      }
      &-right {
        display: none;
      }
    }
    &__wrapper {
      width: 80%;
      margin: 30px auto;
      justify-content: space-evenly;
    }
    &__link {
      width: 40%;
      min-width: 180px;
    }

    &__img {
      &-screen {
        width: 320px;
      }
      &-project {
        width: 320px;
        height: 57%;
      }
    }
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .Modal {
    top: 65%;
    padding: 10px 0 20px 0;
  }
}
