@import "../../style/SassVariables";

.Modal {
  width: 82vw;
  max-width: 850px;
  min-width: 600px;
  height: 72vh;
  position: fixed;
  margin-top: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 238, 242);
  padding: 20px 30px;
  z-index: 1000;

  @extend %radius;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }

  &__ctn {
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    @extend %row-mid;
    flex-wrap: wrap;
  }
  &__wrapper {
    width: 80%;
    @extend %row-between;

    // justify-content: flex-start;
    margin-top: 40px;
  }
  &__link {
    @extend %main-font, %row-mid, %greyBtn;
    font-weight: 700;
    font-size: 1.5rem;
    width: 100%;
    margin: 10px;

    // &:active,
    // &:focus {
    //   color: grey;
    // }
  }
  &__icon {
    font-size: 1.7em;
    &:hover {
      cursor: pointer;
    }
  }
  &__imgCtn {
    width: 200px;
  }
  &__img {
    width: 100%;
    object-fit: cover;

    &-screen {
      z-index: 1;
      position: absolute;
      width: 100%;
      top: -10%;
      left: 50%;
      transform: translateX(-50%) scale(1);
    }
    &-project {
      position: absolute;
      width: 100%;
      top: 0%;
      left: 50%;
      transform: translateX(-50%) scale(0.9);
      height: 255px;
      z-index: 0;
    }
  }
  &__section {
    width: 50%;
    &-left {
      padding: 20px;
      height: 100%;
      max-height: 500px;
    }
    &-right {
      min-width: 360px;
      height: 350px;
      position: relative;
      overflow: hidden;

      @extend %row-mid;
    }
  }
  &__project {
    &-title {
      @extend %main-font;
      font-size: 3rem;
    }

    &-details,
    &-technology {
      margin: 20px auto;
      font-style: italic;
      font-size: 1.7rem;
      letter-spacing: 1px;
    }

    &-technology {
      margin: 10px auto;
    }
    &-subTitle {
      @extend %main-font;
      margin-top: 35px;
      font-size: 2.2rem;
    }
  }

  &__btn {
    &:hover {
      cursor: pointer;
    }
    &-close {
      position: fixed;
      top: 4%;
      right: 3%;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 3rem;
      font-size: 3rem;
      border: none;
      outline: none;
      background-color: transparent;

      &:active {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .Modal {
    &__section {
      width: 90%;
      &-left {
        height: auto;
      }
      &-right {
        margin-left: 200px;
      }
    }
    &__wrapper {
      width: 25%;
      position: absolute;
      top: 70%;
      flex-direction: column;
    }

    &__img {
      &-screen {
        width: 330px;
      }
      &-project {
        width: 330px;
        height: 62%;
      }
    }
  }
}
