@import "../../style/SassVariables";
.Timeline {
  top: 40px !important;
  margin-bottom: 5% !important;
  &__title {
    font-size: 2rem;
    @extend %content-font;
  }

  &__subtitle {
    font-size: 1.3rem;
    @extend %content-font;
  }
  &__date {
    font-size: 1.4rem !important;
    @extend %main-font;
    font-weight: 700 !important;
    float: right !important;
    color: black;
    margin-right: 10px;
  }
  &__para {
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
    @extend %content-font;
  }
}

@media screen and (max-width: 900px) {
  .Timeline {
    margin-bottom: 35% !important;
  }
}
