@import "../../style/SassVariables";

.Options {
  margin: 25px auto 10px auto;
  @extend %row-mid;
  width: 72%;
  min-width: 380px;
  flex-wrap: wrap;
  top: 80px;
  height: 10%;
  position: absolute;

  &__imgWrapper {
    width: 30px;
    position: absolute;
    left: -25px;
    top: 3px;
  }
  &__img {
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(1px 1px 0px rgb(228, 58, 219));
  }

  &__btn {
    @extend %main-font, %row-mid;
    font-weight: 700;
    margin: 10px;
    padding: 3px 12px;
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;

    p {
      font-size: 1.6rem;
      text-shadow: 1px 1px 1px rgb(180, 180, 180);
      color: rgb(102, 100, 100);
    }
  }
}

@media screen and (max-width: 415px) {
  .Options {
    width: 100% !important;
    max-width: 290px;
    // margin: 0;
    min-width: initial;
    &__btn {
      margin: 5px;
    }
  }
}

//iphone 5/SE
@media screen and (device-aspect-ratio: 40/71) {
  .Options {
    width: 100% !important;
    min-width: initial;
  }
}
