@import "./style/SassVariables";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @extend %body-font;
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

.mainWrapper {
  height: calc(100% - 80px);
  // margin-top: 80px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

@media screen and (max-width: 900px) {
  html {
    scroll-padding-top: 60px;
  }
  .mainWrapper {
    height: calc(100% - 60px);
    // margin-top: 60px;
  }
}
